In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv')
df1 = pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')
print(df.head(2))
print(df1.head(2))

                          Indicator PUBLISH STATES  Year WHO region  \
0  Life expectancy at birth (years)      Published  1990     Europe
1  Life expectancy at birth (years)      Published  2000     Europe

  World Bank income group  Country         Sex  Display Value  Numeric  Low  \
0             High-income  Andorra  Both sexes             77     77.0  NaN
1             High-income  Andorra  Both sexes             80     80.0  NaN

   High  Comments
0   NaN       NaN
1   NaN       NaN
             STATION         STATION_NAME      DATE  PRCP  SNWD  SNOW  TMAX  \
0  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310101    46 -9999 -9999 -9999
1  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310102   107 -9999 -9999    50

   TMIN  WDFG  PGTM  ...   WT09  WT07  WT01  WT06  WT05  WT04  WT16  WT08  \
0   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
1    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

   WT18  WT03
0 -9999 -9999
1 -9999 -9999

[2 rows x 21 columns]

In [3]:
#1a Get the Metadata from the above files.
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4656 entries, 0 to 4655
Data columns (total 12 columns):
Indicator                  4656 non-null object
PUBLISH STATES             4656 non-null object
Year                       4656 non-null int64
WHO region                 4656 non-null object
World Bank income group    4656 non-null object
Country                    4656 non-null object
Sex                        4656 non-null object
Display Value              4656 non-null int64
Numeric                    4656 non-null float64
Low                        0 non-null float64
High                       0 non-null float64
Comments                   0 non-null float64
dtypes: float64(4), int64(2), object(6)
memory usage: 436.6+ KB

In [4]:
#1b
df1.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117208 entries, 0 to 117207
Data columns (total 21 columns):
STATION         117208 non-null object
STATION_NAME    117208 non-null object
DATE            117208 non-null int64
PRCP            117208 non-null int64
SNWD            117208 non-null int64
SNOW            117208 non-null int64
TMAX            117208 non-null int64
TMIN            117208 non-null int64
WDFG            117208 non-null int64
PGTM            117208 non-null int64
WSFG            117208 non-null int64
WT09            117208 non-null int64
WT07            117208 non-null int64
WT01            117208 non-null int64
WT06            117208 non-null int64
WT05            117208 non-null int64
WT04            117208 non-null int64
WT16            117208 non-null int64
WT08            117208 non-null int64
WT18            117208 non-null int64
WT03            117208 non-null int64
dtypes: int64(19), object(2)
memory usage: 18.8+ MB

In [5]:
#2a Get the row names from the above files.
df.index.values

array([   0,    1,    2, ..., 4653, 4654, 4655], dtype=int64)

In [6]:
#2b
df1.index.values

array([     0,      1,      2, ..., 117205, 117206, 117207], dtype=int64)

In [7]:
#3 Change the column name from any of the above file.
df.rename(columns={'Indicator':'Indicator_id'})

,Indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
5,Life expectancy at birth (years),Published,2000,Americas,High-income,Antigua and Barbuda,Male,72,72.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
12,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Austria,Female,25,25.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
23,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Brunei Darussalam,Female,22,22.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [9]:
#4 Change the column name from any of the above file and store the changes made permanently.
df.rename(columns={'Indicator':'Indicator_id'}, inplace=True)
df.head(5)

,Indicator_id,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN

In [10]:
#5 Change the names of multiple columns.
df.rename(columns={'PUBLISH STATES':'Publication Status', 'WHO region':'WHO Region'}, inplace=True)
df.head(5)

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN

In [11]:
#6 Arrange values of a particular column in ascending order.
df.sort_values('Year')

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [12]:
#7 Arrange multiple column values in ascending order.
df.sort_values(['Country', 'Year'])

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
554,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
555,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Female,15,15.0,NaN,NaN,NaN
965,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
1395,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,14,14.0,NaN,NaN,NaN
1792,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Female,50,50.0,NaN,NaN,NaN
2959,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Male,13,13.0,NaN,NaN,NaN
146,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,55,55.0,NaN,NaN,NaN
147,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,16,16.0,NaN,NaN,NaN
967,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,14,14.0,NaN,NaN,NaN
1393,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,56,56.0,NaN,NaN,NaN
1396,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,15,15.0,NaN,NaN,NaN
2798,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,45,45.0,NaN,NaN,NaN
2957,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,54,54.0,NaN,NaN,NaN
3363,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,45,45.0,NaN,NaN,NaN
4456,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,45,45.0,NaN,NaN,NaN
148,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,17,17.0,NaN,NaN,NaN
966,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,58,58.0,NaN,NaN,NaN
1394,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,61,61.0,NaN,NaN,NaN
1793,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,15,15.0,NaN,NaN,NaN
1794,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,16,16.0,NaN,NaN,NaN
2245,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
2958,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,60,60.0,NaN,NaN,NaN
3689,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,49,49.0,NaN,NaN,NaN
4457,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
299,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Male,67,67.0,NaN,NaN,NaN
689,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Both sexes,69,69.0,NaN,NaN,NaN
1522,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Both sexes,16,16.0,NaN,NaN,NaN
1931,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Female,18,18.0,NaN,NaN,NaN
3113,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Albania,Female,71,71.0,NaN,NaN,NaN
3114,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Albania,Male,15,15.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1924,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zambia,Male,16,16.0,NaN,NaN,NaN
2796,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Both sexes,49,49.0,NaN,NaN,NaN
3100,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zambia,Male,55,55.0,NaN,NaN,NaN
3102,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zambia,Both sexes,17,17.0,NaN,NaN,NaN
3545,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Female,50,50.0,NaN,NaN,NaN
4260,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Male,48,48.0,NaN,NaN,NaN
684,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,62,62.0,NaN,NaN,NaN
685,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Female,18,18.0,NaN,NaN,NaN
1512,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Female,64,64.0,NaN,NaN,NaN
1925,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Male,17,17.0,NaN,NaN,NaN
1926,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,18,18.0,NaN,NaN,NaN
3103,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Male,60,60.0,NaN,NaN,NaN
683,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,42,42.0,NaN,NaN,NaN
1082,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,42,42.0,NaN,NaN,NaN
1083,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,16,16.0,NaN,NaN,NaN
1513,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Female,16,16.0,NaN,NaN,NaN
2426,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,37,37.0,NaN,NaN,NaN
2797,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,36,36.0,NaN,NaN,NaN
3105,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,42,42.0,NaN,NaN,NaN
3107,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Male,15,15.0,NaN,NaN,NaN
3886,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,37,37.0,NaN,NaN,NaN
294,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,60,60.0,NaN,NaN,NaN
295,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Male,17,17.0,NaN,NaN,NaN
1514,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Female,19,19.0,NaN,NaN,NaN
1927,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,18,18.0,NaN,NaN,NaN
3104,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,56,56.0,NaN,NaN,NaN
3106,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,58,58.0,NaN,NaN,NaN
3546,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,49,49.0,NaN,NaN,NaN
4261,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,48,48.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [13]:
#8 Make country as the first column of the dataframe.
newTitles = ['Country','Indicator_id','Publication Status','Year','WHO Region','World Bank income group','Sex','Display Value','Numeric','Low','High','Comments']
df.reindex(columns=newTitles)

,Country,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
5,Antigua and Barbuda,Life expectancy at birth (years),Published,2000,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
12,Austria,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,25,25.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),Published,2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),Published,1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
23,Brunei Darussalam,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),Published,2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),Published,2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

In [16]:
#9 Get the column array using a variable
cols =df.columns.values
print(cols)

['Indicator_id' 'Publication Status' 'Year' 'WHO Region'
 'World Bank income group' 'Country' 'Sex' 'Display Value' 'Numeric' 'Low'
 'High' 'Comments']

In [17]:
#10 Get the subset rows 11, 24, 37
df.iloc[[11,24,37]]

,Indicator_id,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
37,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Cyprus,Female,26,26.0,NaN,NaN,NaN

In [16]:
#11 Get the subset rows excluding 5, 12, 23, and 56
df.drop([5,12,23,56],inplace=False)

,Indicator,Publication Status,Year,WHO Region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1,Life expectancy at birth (years),Published,2000,Europe,High-income,Andorra,Both sexes,80,80.0,NaN,NaN,NaN
2,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Andorra,Female,28,28.0,NaN,NaN,NaN
3,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Andorra,Both sexes,23,23.0,NaN,NaN,NaN
4,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,United Arab Emirates,Female,78,78.0,NaN,NaN,NaN
6,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Antigua and Barbuda,Male,17,17.0,NaN,NaN,NaN
7,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Antigua and Barbuda,Both sexes,22,22.0,NaN,NaN,NaN
8,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Male,81,81.0,NaN,NaN,NaN
9,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Australia,Both sexes,80,80.0,NaN,NaN,NaN
10,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Australia,Both sexes,83,83.0,NaN,NaN,NaN
11,Life expectancy at birth (years),Published,2012,Europe,High-income,Austria,Female,83,83.0,NaN,NaN,NaN
13,Life expectancy at birth (years),Published,2012,Europe,High-income,Belgium,Female,83,83.0,NaN,NaN,NaN
14,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Bahrain,Male,73,73.0,NaN,NaN,NaN
15,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Female,74,74.0,NaN,NaN,NaN
16,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Bahrain,Male,17,17.0,NaN,NaN,NaN
17,Life expectancy at birth (years),Published,2012,Americas,High-income,Bahamas,Male,72,72.0,NaN,NaN,NaN
18,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Bahamas,Both sexes,21,21.0,NaN,NaN,NaN
19,Life expectancy at birth (years),Published,1990,Americas,High-income,Barbados,Male,71,71.0,NaN,NaN,NaN
20,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Female,25,25.0,NaN,NaN,NaN
21,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Barbados,Both sexes,23,23.0,NaN,NaN,NaN
22,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Female,20,20.0,NaN,NaN,NaN
24,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Brunei Darussalam,Female,21,21.0,NaN,NaN,NaN
25,Life expectancy at birth (years),Published,2000,Americas,High-income,Canada,Female,82,82.0,NaN,NaN,NaN
26,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Canada,Male,21,21.0,NaN,NaN,NaN
27,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Canada,Female,24,24.0,NaN,NaN,NaN
28,Life expectancy at birth (years),Published,1990,Europe,High-income,Switzerland,Male,74,74.0,NaN,NaN,NaN
29,Life expectancy at birth (years),Published,2012,Europe,High-income,Switzerland,Both sexes,83,83.0,NaN,NaN,NaN
30,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Switzerland,Both sexes,23,23.0,NaN,NaN,NaN
31,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Cook Islands,Both sexes,76,76.0,NaN,NaN,NaN
32,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Cook Islands,Female,22,22.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Serbia,Female,67,67.0,NaN,NaN,NaN
4627,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Suriname,Both sexes,66,66.0,NaN,NaN,NaN
4628,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Sweden,Both sexes,72,72.0,NaN,NaN,NaN
4629,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Swaziland,Female,47,47.0,NaN,NaN,NaN
4630,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Seychelles,Male,61,61.0,NaN,NaN,NaN
4631,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Syrian Arab Republic,Female,64,64.0,NaN,NaN,NaN
4632,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Chad,Female,44,44.0,NaN,NaN,NaN
4633,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Male,59,59.0,NaN,NaN,NaN
4634,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Thailand,Female,65,65.0,NaN,NaN,NaN
4635,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Tajikistan,Both sexes,56,56.0,NaN,NaN,NaN
4636,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Tajikistan,Female,60,60.0,NaN,NaN,NaN
4637,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Tonga,Female,61,61.0,NaN,NaN,NaN
4638,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Female,64,64.0,NaN,NaN,NaN
4639,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Trinidad and Tobago,Both sexes,61,61.0,NaN,NaN,NaN
4640,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Tunisia,Male,63,63.0,NaN,NaN,NaN
4641,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Tuvalu,Male,57,57.0,NaN,NaN,NaN
4642,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Uganda,Female,40,40.0,NaN,NaN,NaN
4643,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Ukraine,Both sexes,60,60.0,NaN,NaN,NaN
4644,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Male,65,65.0,NaN,NaN,NaN
4645,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Female,70,70.0,NaN,NaN,NaN
4646,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Uruguay,Both sexes,68,68.0,NaN,NaN,NaN
4647,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Saint Vincent and the Grenadines,Both sexes,61,61.0,NaN,NaN,NaN
4648,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Venezuela (Bolivarian Republic of),Both sexes,66,66.0,NaN,NaN,NaN
4649,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Vanuatu,Male,59,59.0,NaN,NaN,NaN
4650,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Male,62,62.0,NaN,NaN,NaN
4651,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Samoa,Female,66,66.0,NaN,NaN,NaN
4652,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Yemen,Both sexes,54,54.0,NaN,NaN,NaN
4653,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,South Africa,Male,49,49.0,NaN,NaN,NaN
4654,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zambia,Both sexes,36,36.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [18]:

users = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv')
sessions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv')
products = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv')
transactions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')
print(users.head())
print(sessions.head())
print(products.head())

   UserID      User  Gender  Registered   Cancelled
0       1   Charles    male  2012-12-21         NaN
1       2     Pedro    male  2010-08-01  2010-08-08
2       3  Caroline  female  2012-10-23  2016-06-07
3       4   Brielle  female  2013-07-17         NaN
4       5  Benjamin    male  2010-11-25         NaN
   SessionID SessionDate  UserID
0          1  2010-01-05       2
1          2  2010-08-01       2
2          3  2010-11-25       2
3          4  2011-09-21       5
4          5  2011-10-19       4
   ProductID Product  Price
0          1       A  14.16
1          2       B  33.04
2          3       C  10.65
3          4       D  10.02
4          5       E  29.66

In [19]:
#12 Join users to transactions, keeping all rows from transactions and only matching rows from users (left join)
result = pd.merge(transactions,users,how='left')
print(result)

   TransactionID TransactionDate  UserID  ProductID  Quantity      User  \
0              1      2010-08-21     7.0          2         1       NaN
1              2      2011-05-26     3.0          4         1  Caroline
2              3      2011-06-16     3.0          3         1  Caroline
3              4      2012-08-26     1.0          2         3   Charles
4              5      2013-06-06     2.0          4         1     Pedro
5              6      2013-12-23     2.0          5         6     Pedro
6              7      2013-12-30     3.0          4         1  Caroline
7              8      2014-04-24     NaN          2         3       NaN
8              9      2015-04-24     7.0          4         3       NaN
9             10      2016-05-08     3.0          4         4  Caroline

   Gender  Registered   Cancelled
0     NaN         NaN         NaN
1  female  2012-10-23  2016-06-07
2  female  2012-10-23  2016-06-07
3    male  2012-12-21         NaN
4    male  2010-08-01  2010-08-08
5    male  2010-08-01  2010-08-08
6  female  2012-10-23  2016-06-07
7     NaN         NaN         NaN
8     NaN         NaN         NaN
9  female  2012-10-23  2016-06-07

In [20]:
#13 Which transactions have a UserID not in users?
result.loc[result.User.isnull(),:]

,TransactionID,TransactionDate,UserID,ProductID,Quantity,User,Gender,Registered,Cancelled
0,1,2010-08-21,7.0,2,1,NaN,NaN,NaN,NaN
7,8,2014-04-24,NaN,2,3,NaN,NaN,NaN,NaN
8,9,2015-04-24,7.0,4,3,NaN,NaN,NaN,NaN

In [21]:
#14 Join users to transactions, keeping only rows from transactions and users that match via UserID (inner join)
result2 = pd.merge(left=users,right=transactions,how='inner',on='UserID')
result2

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,ProductID,Quantity
0,1,Charles,male,2012-12-21,NaN,4,2012-08-26,2,3
1,2,Pedro,male,2010-08-01,2010-08-08,5,2013-06-06,4,1
2,2,Pedro,male,2010-08-01,2010-08-08,6,2013-12-23,5,6
3,3,Caroline,female,2012-10-23,2016-06-07,2,2011-05-26,4,1
4,3,Caroline,female,2012-10-23,2016-06-07,3,2011-06-16,3,1
5,3,Caroline,female,2012-10-23,2016-06-07,7,2013-12-30,4,1
6,3,Caroline,female,2012-10-23,2016-06-07,10,2016-05-08,4,4

In [22]:
#15 Join users to transactions, displaying all matching rows AND all non-matching rows (full outer join)
result3 = pd.merge(left=users, right=transactions,how='outer')
result3

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,ProductID,Quantity
0,1.0,Charles,male,2012-12-21,NaN,4.0,2012-08-26,2.0,3.0
1,2.0,Pedro,male,2010-08-01,2010-08-08,5.0,2013-06-06,4.0,1.0
2,2.0,Pedro,male,2010-08-01,2010-08-08,6.0,2013-12-23,5.0,6.0
3,3.0,Caroline,female,2012-10-23,2016-06-07,2.0,2011-05-26,4.0,1.0
4,3.0,Caroline,female,2012-10-23,2016-06-07,3.0,2011-06-16,3.0,1.0
5,3.0,Caroline,female,2012-10-23,2016-06-07,7.0,2013-12-30,4.0,1.0
6,3.0,Caroline,female,2012-10-23,2016-06-07,10.0,2016-05-08,4.0,4.0
7,4.0,Brielle,female,2013-07-17,NaN,NaN,NaN,NaN,NaN
8,5.0,Benjamin,male,2010-11-25,NaN,NaN,NaN,NaN,NaN
9,7.0,NaN,NaN,NaN,NaN,1.0,2010-08-21,2.0,1.0
10,7.0,NaN,NaN,NaN,NaN,9.0,2015-04-24,4.0,3.0
11,NaN,NaN,NaN,NaN,NaN,8.0,2014-04-24,2.0,3.0

In [23]:
#16 Determine which sessions occurred on the same day each user registered
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

result4 = pd.merge(left=users, right=sessions,how='inner', on='UserID')

q = """SELECT *
    FROM result4
    WHERE Registered == SessionDate;
"""

print(pysqldf(q))

   UserID     User  Gender  Registered   Cancelled  SessionID SessionDate
0       2    Pedro    male  2010-08-01  2010-08-08          2  2010-08-01
1       4  Brielle  female  2013-07-17        None          9  2013-07-17

In [24]:
#17 Build a dataset with every possible (UserID, ProductID) pair (cross join)
#print(products.head())
#print(users.head())
q = """ SELECT UserID, ProductID
        FROM users 
        CROSS JOIN products;
"""
print(pysqldf(q))
result17 =pd.DataFrame(pysqldf(q))

    UserID  ProductID
0        1          1
1        1          2
2        1          3
3        1          4
4        1          5
5        2          1
6        2          2
7        2          3
8        2          4
9        2          5
10       3          1
11       3          2
12       3          3
13       3          4
14       3          5
15       4          1
16       4          2
17       4          3
18       4          4
19       4          5
20       5          1
21       5          2
22       5          3
23       5          4
24       5          5

In [25]:
#18 Determine how much quantity of each product was purchased by each user
#print(products.head())
#print(transactions.head())
#print(result17.head())

transactions.fillna(-999999, inplace=True)
transactions.UserID = transactions.UserID.astype(int)

selection = pd.merge(result17,transactions,how='left',on=['UserID','ProductID'])
#print(selection.head())
result5 = selection.groupby(['UserID','ProductID'])['Quantity'].sum()
result5.reset_index().fillna(0)

    UserID  ProductID  Quantity
0        1          1       0.0
1        1          2       3.0
2        1          3       0.0
3        1          4       0.0
4        1          5       0.0
5        2          1       0.0
6        2          2       0.0
7        2          3       0.0
8        2          4       1.0
9        2          5       6.0
10       3          1       0.0
11       3          2       0.0
12       3          3       1.0
13       3          4       6.0
14       3          5       0.0
15       4          1       0.0
16       4          2       0.0
17       4          3       0.0
18       4          4       0.0
19       4          5       0.0
20       5          1       0.0
21       5          2       0.0
22       5          3       0.0
23       5          4       0.0
24       5          5       0.0

In [26]:
#19
q= """SELECT t1.TransactionID AS "TransactionID_x", t1.TransactionDate AS "TransactionID_x", t1.UserID, t1.ProductID AS \
            "ProductID_x", t1.Quantity AS "Quantity_x", t2.TransactionID AS "TransactionID_y", t2.TransactionDate AS \
            "TransactionDate_y", t2.ProductID AS "ProductID_y", t2.Quantity AS "Quantity_y"
    FROM transactions t1
    JOIN transactions t2
    ON t1.TransactionID < t2.TransactionID
    

"""
print(pysqldf(q))

   TransactionID_x TransactionID_x  UserID  ProductID_x  Quantity_x  \
0                1      2010-08-21       7            2           1
1                1      2010-08-21       7            2           1
2                1      2010-08-21       7            2           1
3                1      2010-08-21       7            2           1
4                1      2010-08-21       7            2           1
5                1      2010-08-21       7            2           1
6                1      2010-08-21       7            2           1
7                1      2010-08-21       7            2           1
8                1      2010-08-21       7            2           1
9                2      2011-05-26       3            4           1
10               2      2011-05-26       3            4           1
11               2      2011-05-26       3            4           1
12               2      2011-05-26       3            4           1
13               2      2011-05-26       3            4           1
14               2      2011-05-26       3            4           1
15               2      2011-05-26       3            4           1
16               2      2011-05-26       3            4           1
17               3      2011-06-16       3            3           1
18               3      2011-06-16       3            3           1
19               3      2011-06-16       3            3           1
20               3      2011-06-16       3            3           1
21               3      2011-06-16       3            3           1
22               3      2011-06-16       3            3           1
23               3      2011-06-16       3            3           1
24               4      2012-08-26       1            2           3
25               4      2012-08-26       1            2           3
26               4      2012-08-26       1            2           3
27               4      2012-08-26       1            2           3
28               4      2012-08-26       1            2           3
29               4      2012-08-26       1            2           3
30               5      2013-06-06       2            4           1
31               5      2013-06-06       2            4           1
32               5      2013-06-06       2            4           1
33               5      2013-06-06       2            4           1
34               5      2013-06-06       2            4           1
35               6      2013-12-23       2            5           6
36               6      2013-12-23       2            5           6
37               6      2013-12-23       2            5           6
38               6      2013-12-23       2            5           6
39               7      2013-12-30       3            4           1
40               7      2013-12-30       3            4           1
41               7      2013-12-30       3            4           1
42               8      2014-04-24 -999999            2           3
43               8      2014-04-24 -999999            2           3
44               9      2015-04-24       7            4           3

    TransactionID_y TransactionDate_y  ProductID_y  Quantity_y
0                 2        2011-05-26            4           1
1                 3        2011-06-16            3           1
2                 4        2012-08-26            2           3
3                 5        2013-06-06            4           1
4                 6        2013-12-23            5           6
5                 7        2013-12-30            4           1
6                 8        2014-04-24            2           3
7                 9        2015-04-24            4           3
8                10        2016-05-08            4           4
9                 3        2011-06-16            3           1
10                4        2012-08-26            2           3
11                5        2013-06-06            4           1
12                6        2013-12-23            5           6
13                7        2013-12-30            4           1
14                8        2014-04-24            2           3
15                9        2015-04-24            4           3
16               10        2016-05-08            4           4
17                4        2012-08-26            2           3
18                5        2013-06-06            4           1
19                6        2013-12-23            5           6
20                7        2013-12-30            4           1
21                8        2014-04-24            2           3
22                9        2015-04-24            4           3
23               10        2016-05-08            4           4
24                5        2013-06-06            4           1
25                6        2013-12-23            5           6
26                7        2013-12-30            4           1
27                8        2014-04-24            2           3
28                9        2015-04-24            4           3
29               10        2016-05-08            4           4
30                6        2013-12-23            5           6
31                7        2013-12-30            4           1
32                8        2014-04-24            2           3
33                9        2015-04-24            4           3
34               10        2016-05-08            4           4
35                7        2013-12-30            4           1
36                8        2014-04-24            2           3
37                9        2015-04-24            4           3
38               10        2016-05-08            4           4
39                8        2014-04-24            2           3
40                9        2015-04-24            4           3
41               10        2016-05-08            4           4
42                9        2015-04-24            4           3
43               10        2016-05-08            4           4
44               10        2016-05-08            4           4

In [29]:
#20 Join each user to his/her first occuring transaction in the transactions table
UsersTrans = pd.merge(users,transactions,how='left',on='UserID')
dfNew = UsersTrans.drop_duplicates(subset='UserID')
dfNew = dfNew.reset_index(drop=True)
dfNew

,UserID,User,Gender,Registered,Cancelled,TransactionID,TransactionDate,ProductID,Quantity
0,1,Charles,male,2012-12-21,NaN,4.0,2012-08-26,2.0,3.0
1,2,Pedro,male,2010-08-01,2010-08-08,5.0,2013-06-06,4.0,1.0
2,3,Caroline,female,2012-10-23,2016-06-07,2.0,2011-05-26,4.0,1.0
3,4,Brielle,female,2013-07-17,NaN,NaN,NaN,NaN,NaN
4,5,Benjamin,male,2010-11-25,NaN,NaN,NaN,NaN,NaN

In [42]:
#21. Test to see if we can drop columns
my_columns = list(dfNew.columns) 
print(my_columns)  #current columns of dfNew

#set threshold to drop NAs
print(list(dfNew.dropna(thresh=int(dfNew.shape[0] * .9), axis=1).columns)) #which columns have missing values

#which columns have any missing data
missing_info= list(dfNew.columns[dfNew.isnull().any()]) 
print(missing_info)

#count of missing data
for col in missing_info:
    num_missing = dfNew[dfNew[col].isnull() == True].shape[0] 
    print('number missing for column {}: {}'.format(col, num_missing))
    
#percentage of missing data
for col in missing_info:
    percent_missing = dfNew[dfNew[col].isnull() == True].shape[0] / dfNew.shape[0] 
    print('percent missing for column {}: {}'.format( col,percent_missing))

['UserID', 'User', 'Gender', 'Registered', 'Cancelled', 'TransactionID', 'TransactionDate', 'ProductID', 'Quantity']
['UserID', 'User', 'Gender', 'Registered']
['Cancelled', 'TransactionID', 'TransactionDate', 'ProductID', 'Quantity']
number missing for column Cancelled: 3
number missing for column TransactionID: 2
number missing for column TransactionDate: 2
number missing for column ProductID: 2
number missing for column Quantity: 2
percent missing for column Cancelled: 0.6
percent missing for column TransactionID: 0.4
percent missing for column TransactionDate: 0.4
percent missing for column ProductID: 0.4
percent missing for column Quantity: 0.4